<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DaoLayer.Properties.Settings.LOLAssistantDataBaseConnectionString"
            connectionString="Data Source=ASPNET-PC;Initial Catalog=LOLAssistantDataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>